GOOGLE_API_KEY=
MODEL_PROVIDER=google_genai
MODEL_NAMES=["gemini-3.5-flash-lite", "gemini-3.1-flash-lite"]
EMBEDDINGS_MODEL_NAME=models/gemini-embedding-001

TOKEN_BEARER_URL=/api/v1/auth/login
JWT_SECRET=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRY_MINS=1500
REFRESH_TOKEN_EXPIRY_DAYS=1

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=test
POSTGRES_DATABASE=langgraph_db
PGVECTOR_COLLECTION_NAME=my_collection

BACKEND_BASE_URL=http://127.0.0.1:8000/api/v1
